<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Star Wars Quote App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
    <div>KR Medium</div>
    <a href="/cart" >Write</a>
  </header>


  <div>
    <h2>camry</h2>
    <p>$10</p>
    <button id="update-button">Replace price</button>
  </div>

  <div>
    <h2>Remove Item</h2>
    <p>
      Delete one Darth Vader's quote. Does nothing if there are no more Darth
      Vader's quote
    </p>
    <button id="delete-button">Delete Darth Vader's quote</button>
    <div id="message"> </div>
  </div>

  <ul class="store">
    <!-- Loop through quotes -->
    <% for(var i=0; i < store.length; i++) {%>
      <li class="item">
        <!-- Output name from the iterated quote object -->
       <div class="title">
         <%= store[i].name %> the title is lorem 
       <%=  Date.now() %>
       </div>
        
        <!-- Output quote from the iterated quote object -->
      <div class="data">
          <%= store[i].quote %>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste optio blanditiis temporibus a quas at unde pariatur aperiam animi reiciendis eos accusantium laboriosam excepturi, facere similique, eum ducimus soluta reprehenderit?
      </div>
          <span>
            <img src="${store[i].image}" alt="">
          <%= store[i].image %>
        </span>
        <textarea placeholder="Comment here" id="" cols="10" rows="5"></textarea>
      </li>
      <% } %>
  </ul>



  <script src="/main.js"></script>
</body>

</html>